<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"></bean>
	<bean id="authorityInterceptor" class="com.tuxt.item.interceptor.AuthorityInterceptor">
		<property name="userManage" ref="userManage"></property>
	</bean>
	<bean id="baseAction" class="com.tuxt.item.action.BaseAction"
		abstract="true">
		<property name="controlService" ref="controlService" />
		<property name="userManage" ref="userManage"></property>
	</bean>
	<bean id="userManage" class="com.tuxt.item.common.UserManage">
		<property name="redisTemplate" ref="redisTemplate"></property>
	</bean>
	<bean id="loginAction" class="com.tuxt.item.action.LoginAction"
		parent="baseAction">
	</bean>
<bean id="itemAction" class="com.tuxt.item.action.ItemAction" parent="baseAction"></bean>
<bean id="itemCategoryAction" class="com.tuxt.item.action.ItemCategoryAction" parent="baseAction"></bean>
</beans>
